@media all and (max-device-width: 1200px){
	.text1{
		font-size: 2vh;
	}
	#border{
		margin-top: 1.5%;
		margin-right: 1%;
		margin-left: 20%;
	}
	.head1{
		padding-right: 2.5vh;
	}
	.head2{
		padding-right: 2.5vh;
	}
	.head3{
		padding-right: 2.5vh;
	}
	#border{
		margin-left: 10%;
	}
	.photo1{
		height: 155%;
	}
	.text2{
		padding-top: 35%;
		padding-left: 10%;
	}
	.title1{
		font-size: 3em;
	}
	.title2{
		font-size: 1em;
	}
	.photo2{
		height: 155%;
	}
	.text3{
		padding-top: 5%;
		padding-left: 15%;
	}
	.collum1{
		padding-top: 7%;
	}
	.R8{
		padding-left: 2%;
	}
	.a{
		padding-left: 2em;
		padding-top: 2em;
	}
	.collum2{
		padding-top: 2em;
	}
	.position{
		margin-top: 20em;
	}
	.wrapper{
		top: 58em;
	}
	.P{
		padding-left: 18em;
		padding-top: 2em;
	}
	.Lightning{
		margin-top: 13vh;
	}
}
